In [ ]:
q1)

[] this represents an empty list. List is dented by [] which includes elements seprated by commas. Here it includes nothing,
therefore [] this signifies empty list.

In [ ]:
q2)

In [1]:
spam=[2,4,6,8,10]
spam[2]='hello'

In [2]:
spam

[2, 4, 'hello', 8, 10]

In [ ]:
q3)

In [50]:
spam=['a','b','c','d']

In [47]:
spam[int(int('3' * 2) / 11)]

'd'

In [53]:
spam[int(int('33')/11)]

'd'

33

In [ ]:
q4)

In [6]:
spam[-1]

'd'

In [ ]:
q5)

In [7]:
spam[:2]

['a', 'b']

In [ ]:
q6)

In [9]:
bacon=[3.14, 'cat', 11, 'cat', True]

In [10]:
bacon.index('cat')

1

In [ ]:
q7)

In [11]:
bacon.append(99)

In [12]:
bacon

[3.14, 'cat', 11, 'cat', True, 99]

In [ ]:
99 is added to the list bacon, as one more entry can be seen in updated list.

In [ ]:
q8)

In [13]:
bacon.remove('cat')

In [14]:
bacon

[3.14, 11, 'cat', True, 99]

In [ ]:
This function removes the str 'cat' present at the first index. As there are two str with name 'cat', but it removes the one
which is present at first place.

In [ ]:
q9)

In [ ]:
List conecation operator helps in joining two different lists. 
+ is the conecationation operator.
The * operator replicates the elements in the list.
Example is stated below:

In [24]:
#conecation
l1=[1,2,3,4]
l2=[9,8,'juhi',8+9j, 48.5]
l1+l2

[1, 2, 3, 4, 9, 8, 'juhi', (8+9j), 48.5]

In [19]:
#replication
l1=[1,2,3,4]
l1*2

[1, 2, 3, 4, 1, 2, 3, 4]

In [ ]:
q10)

In [ ]:
Method append() in list is used to append elements in the list. Append simply add on the element as per the 
argument at the end.
Method insert() is usee to add element at particualr index. Here two arguments are given first at which index the
insertion of element is required and other is the element itself.

In [ ]:
q11)

In [ ]:
remove() is one of the method to remove elements from list and another method is pop() which is used to remove 
elements fromlist.
remove() takes argument as specified elements needs to be removed while pop() takes argument as index.

In [38]:
q12)

In [ ]:
List values and string values are identical in terms of length and index. Both are iterable objects. The difference is that
string takes only characters while list can take elements of any data type.

In [ ]:
q13)

In [ ]:
Lists are denoted by [], while tuples are denoted by ().The elements in both are seperated by commas.
There are several functions defined for list, in case of tuples 
only count and index are only two functions.

In [ ]:
q14)

In [41]:
t=(42)

In [42]:
type(t)

int

In [ ]:
q15)

In [43]:
l=[5,6,7,8]
t=(10,11,12,132,0)

In [44]:
list(t)

[10, 11, 12, 132, 0]

In [45]:
tuple(l)

(5, 6, 7, 8)

In [ ]:
q16)

Variables will contain the refrence to the list values instaed list values itself.

In [ ]:
q17)
copy() creates the refrence of original object, any changes made to the copied object reflects the changes in 
original object as well.
While deepcopy() creates no changes to the original one when the changes are incured in the copied object.